#folders
#clion build folders
cmake-build-debug
cmake-build-minsizerel
cmake-build-release
cmake-build-relwithdebinfo
.idea
ONERAM6_582K.su2
#general build folders
bin
build

# Mesh files
ONERAM6_582K.su2


# vscode folders
.vs
.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
